<table class="draggable egut signature" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="109" align="left" valign="top"><img src="http://image.updates.sandiego.org/lib/fe9e15707566017871/m/4/egutierrez-99x99.jpg" width="99" height="99" style="display: block;" /></td>
      <td><p style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #434448; padding: 0px; margin: 0px;"> <strong>EDNA GUTIERREZ</strong><br />
          Public Relations Manager<br />
          <a href="mailto:egutierrez@sandiego.org">egutierrez@sandiego.org</a><br />
          619.557.2887 Office </p></td>
    </tr>
  </tbody>
</table>
