<!-- START: ROW -->

<tr class="list-item">
  <td width="50%" valign="top" align="left" style="padding-right: 5px; padding-top: 20px; padding-bottom: 20px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #dddddd;" class="blockme left empty">
   
   <!-- new contact goes here -->
   {% if name is defined %}
        {{ include('company/sdta/templates/signatures.'~name~'.html') }}
   {%endif%}
   
   
    </td>
  <td width="50%" valign="top" align="left" style="padding-left: 5px; padding-top: 20px; padding-bottom: 20px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #dddddd;" class="blockme right empty">
  
  
  
    
    
    
    
    
    
    
    
    
    </td>
</tr>
<!-- END: ROW --> 