



<table width="100%" border="0" cellspacing="0" cellpadding="0" class="draggable">
							<tbody>
								<tr>
									<td class="imagecont {{ class }}" style="padding-bottom: 10px;">
                  <a class="dest_url {{ class }}" href="#">
                  
                  <img data-width="265" data-height="150" class="fullwidth fa-external-link editableImage drop-area {{ class }}" src="http://image.updates.sandiego.org/lib/fe9e15707566017871/m/4/placeholderimage_265x105.gif" border="0" style="display: block; height: auto !important;" width="265" /></a></td>
								</tr>
								<tr>
									<td class="title" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
									  <tbody>
									    <tr>
									      <td><a class="{{ class }}_headline dest_url {{ class }}" href="#" style="font-size: 18px; color: #434448; text-decoration: none;">
									<font style="font-family: 'Arial Narrow', Helvetica, sans-serif;"> 
									<!--[if (!mso 14)&(!mso 15)]><!--> 
									<font style="font-family: Oswald, 'Arial Narrow', Helvetica, Arial, sans-serif;"> 
									<!--<![endif]--> 
						<span class="editable headline maintitle unedited">HEADLINE OR TITLE</span>

									<!--[if (!mso 14)&(!mso 15)]><!--> 
									</font> 
									<!--<![endif]-->
									</font>
								</a></td>
									      <td valign="top" align="right"><a class="dest_url {{ class }}" href="#"><img src="http://image.updates.sandiego.org/lib/fe9e15707566017871/m/4/sdta_nl_arrow_orange-filled-21.png" width="21" height="21" class="link" vspace="0" border="0" /></a></td>
								        </tr>
								      </tbody>
								    </table></td>
								</tr>
								<tr>
									<td class="description {{ class }}" align="left" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #434448; padding-top: 5px;">
                  
                  <span class="editable textarea {{ class }} unedited">Description goes here, click here to type. Suggested maximum for this module is 300 characters.</span>

									</td>
								</tr>
							</tbody>
						</table>