

.ExternalClass {
  width: 100%;
  line-height: 100%;
}

.ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
  line-height: 100%;
}


.yshortcuts a {
  border-bottom: none !important;
}


div[style*="margin: 16px 0"] {
  margin: 0 !important;
}


table, table td {
  border-collapse: collapse;
}










.columns, .two-column, .three-column, .four-column, .sidebar {
  text-align: center;
  font-size: 0;
}



.two-column img {
  width: 100%;
  max-width: 270px;
  height: auto;
}

.two-column .column {
  width: 100%;
  max-width: 290px;
  display: inline-block;
  vertical-align: top;
}



.three-column {
  padding-top: 10px;
  padding-bottom: 10px;
}

.three-column .column {
  width: 100%;
  max-width: 193.33333px;
  display: inline-block;
  vertical-align: top;
}

.three-column img {
  width: 100%;
  max-width: 173.33333px;
  height: auto;
}



.four-column {
  padding-top: 10px;
  padding-bottom: 10px;
}

.four-column .column {
  width: 100%;
  max-width: 145px;
  display: inline-block;
  vertical-align: top;
}

.four-column img {
  width: 100%;
  max-width: 125px;
  height: auto;
}


.text {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #666666 !important;
  padding-top: 10px;
  text-decoration: none !important;
}


.heading, .h1, .h2 {
  font-family: Georgia, sans-serif;
  color: #333;
  font-weight: bold;
  padding-bottom: 10px;
}


.h1 {
  font-size: 24px;
}


.h2 {
  font-size: 18px;
}


@media screen and (min-width: 401px) and (max-width: 600px) {
  
  center[class=wrapper] .four-column .column {
    max-width: 50% !important;
  }
  
  center[class=wrapper] .three-column .column {
    max-width: 33% !important;
  }
  
  center[class=wrapper] .two-column .column {
    max-width: 50% !important;
  }
  
  center[class=wrapper] .left-sidebar .left, center[class=wrapper] .right-sidebar .left {
    max-width: 20% !important;
  }
  
  center[class=wrapper] .left-sidebar .right, center[class=wrapper] .right-sidebar .right {
    max-width: 80% !important;
  }
}
@media screen and (max-width: 400px) {
  
  center[class=wrapper] .two-column .column,
  center[class=wrapper] .three-column .column {
    max-width: 100% !important;
  }
  
  center[class=wrapper] .two-column img {
    max-width: 100% !important;
  }
  
  center[class=wrapper] .three-column img {
    max-width: 50% !important;
  }
  
  center[class=wrapper] .date {
    text-align: center;
  }
  
  center[class=wrapper] .mob-hide {
    display: none;
  }
}




.sidebar .column {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.sidebar .left {
  max-width: 116px;
}

.sidebar .right {
  max-width: 464px;
}

.sidebar img {
  width: 100%;
  max-width: 96px;
  height: auto;
}



body {
  background-color: #ffffff;
  Margin: 0 !important;
  
  padding: 0;
  min-width: 100%;
}


table {
  border-spacing: 0;
  font-family: Arial, sans-serif;
  color: #666666;
}


td {
  padding: 0;
}


img {
  border: 0;
}


p {
  Margin: 0;
}


a {
  color: #999999;
  text-decoration: underline;
  font-weight: bold;
}



.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


.webkit {
  max-width: 580px;
}


.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 580px;
}


.contents {
  width: 100%;
  text-align: center;
  font-size: 14px;
}


.inner {
  padding: 10px;
}


.footer {
  width: 100% !important;
  min-width: 100% !important;
  background-color: #EEE;
}



.full-width-image img {
  width: 100%;
  max-width: 580px;
  height: auto;
}


.nav td {
  padding: 10px;
}

.nav td a {
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
}


.button a {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  color: #FFF;
  text-decoration: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  background-color: #021518;
  border-top: 16px solid #021518;
  border-bottom: 16px solid #021518;
  border-right: 24px solid #021518;
  border-left: 24px solid #021518;
  display: inline-block;
}


.small-button a {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  color: #FFF;
  text-decoration: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #649664;
  border-top: 4px solid #649664;
  border-bottom: 4px solid #649664;
  border-right: 6px solid #649664;
  border-left: 6px solid #649664;
  display: inline-block;
}
