
{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}



{% block body %}
<div class="row">
<div class="first-col cols_12-6">
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
{# app/Resources/views/security/login.html.twig #}
<form action="{{ path('login') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

   
        <input type="hidden" name="_target_path" value="/emailproject" />
   

    <button type="submit">login</button>
</form>
  </div>
</div>
{% endblock %} 