  Campaign: <input type="text" id="appbundle_emailproject_campaign" name="appbundle_emailproject[campaign]" value=" {{emailproject.campaign}}">
  
  Source: <input type="text" id="appbundle_emailproject_source" name="appbundle_emailproject[source]" value=" {{emailproject.source}}">
  
  Medium: <input type="text" id="appbundle_emailproject_medium" name="appbundle_emailproject[medium]" value=" {{emailproject.medium}}">  
  
  Term: <input type="text" id="appbundle_emailproject_term" name="appbundle_emailproject[term]" value=" {{emailproject.term}}">      
  
  Content: <input type="text" id="appbundle_emailproject_content" name="appbundle_emailproject[content]" value=" {{emailproject.content}}">   
  