{% extends 'base.html.twig' %}


{% block body %}

  <div class="row">
  <div class="cols_12-8">
    <h2>New Email Project</h2>

{#
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
  #}  
    <form name="appbundle_emailproject" method="post">
        <div id="appbundle_emailproject">
        
        <div><label for="appbundle_emailproject_title" class="required">Title</label><input type="text" id="appbundle_emailproject_title" name="appbundle_emailproject[title]" required="required" maxlength="60"></div>
      {#  
        <div><label for="appbundle_emailproject_company" class="required">Company</label><input type="text" id="appbundle_emailproject_company" name="appbundle_emailproject[company]" required="required" maxlength="60"></div> #}
        
        <hr>
        <div class="form_section">
        <h3>Google Analytics Campaign tags</h3>
        <p>If you plan to tag your links with Google Campaign parameters, include those here. If you need to change something later don't worry, these can be customized later for each block on the build page. <br>
<br>
For more information visit Google's 
<a href="https://ga-dev-tools.appspot.com/campaign-url-builder/">Campaign URL Builder</a></p>
        </div>
        
        <div><label for="appbundle_emailproject_campaign"><strong>Campaign Name:</strong> Product, promo code, or slogan (e.g. spring_sale)</label><input type="text" id="appbundle_emailproject_campaign" name="appbundle_emailproject[campaign]"></div>
        
        
      
        <div><label for="appbundle_emailproject_source"><strong>Source:</strong> The referrer (e.g. google, newsletter)</label><input type="text" id="appbundle_emailproject_source" name="appbundle_emailproject[source]"></div>
        

        
        <div><label for="appbundle_emailproject_medium"><strong>Medium:</strong> Marketing medium (e.g. cpc, banner, email)</label><input type="text" id="appbundle_emailproject_medium" name="appbundle_emailproject[medium]" placeholder="email"></div>
        
        <div><label for="appbundle_emailproject_term"><strong>Term:</strong> Identify the paid keywords</label><input type="text" id="appbundle_emailproject_term" name="appbundle_emailproject[term]"></div>
        
        <div><label for="appbundle_emailproject_content"><strong>Content:</strong> Use to differentiate ads</label><input type="text" id="appbundle_emailproject_content" name="appbundle_emailproject[content]"></div>
        
        <div class="form_section">
        <h4>Email Service Email ID Number</h4>
        <p>This is currently only set up to work with ExactTarget. If your email is already set up in the email system, enter the email ID here so that you can synchronize your email to your email system.</p>
        </div>
        
        <div><label for="appbundle_emailproject_exacttarget_id">Exacttarget id</label>
        
        <input type="number" id="appbundle_emailproject_exacttarget_id" name="appbundle_emailproject[exacttarget_id]"></div>
        
        {# For dev environs
        <input type="hidden" id="appbundle_emailproject__token" name="appbundle_emailproject[_token]" value="8AlaVLjoXTc3JS_eGZfJMklyqRy7ZMDxk5KqRnIK94E">
       #}
       
       <input type="hidden" id="appbundle_emailproject__token" name="appbundle_emailproject[_token]" value="O-9Cvj69fy7sZAbr6-N_bgfEHCOn1UuGszUOtC5bxGc">
        
        
        </div>
        <input type="submit" value="Create">
    </form>
    
    
    

    <ul>
        <li>
            <a href="{{ path('emailproject_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
    </div>

{% endblock %}
