<div style="display:none;" class="control-overlay">
  	<i class="fa fa-times remove self" aria-hidden="true"></i>
    <i class="fa fa-ellipsis-v drag" aria-hidden="true" title="order"></i>
    <div id="padding-top" class="top" style="padding-bottom:20px;">
        Top padding<br>
        <div class="value">----</div>
        <div id="top_padding_slider" class="padding-slider" data-direction="top"></div>
    </div>
    <div id="padding-bottom" class="bottom">
        Bottom padding<br>
        <div class="value">----</div>
        <div id="bottom_padding_slider" class="padding-slider" data-direction="bottom"></div>
    </div>
</div>
