<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://artilex.github.io/skeleton-email-template/css/skeleton.css">
    <title>Skeleton email</title>
</head>

<body>
    <div class="container">
        <h1>Lorem Ipsum</h1>
        <hr>
        <p>Dear John Doe,</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita velit laudantium sed, rem, explicabo tempore facere consectetur reiciendis ipsam voluptatem unde nam nihil laboriosam error quas nemo fuga vel saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor nihil adipisci ab laboriosam veniam! Neque sit, similique nihil doloribus esse! Minus enim quis cupiditate in libero nisi eum! Quibusdam, dicta.</p>
        <button onclick="location.href='https://github.com/Artilex/skeleton-email-template'" class="button">Okay cool</button>
        <p>Yours sincerely,
            <br>&mdash; Artilex</p>
    </div>
</body>

</html>
