<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
              <div class="dropdown profile-element"> <span>
                      <img alt="image" class="img-circle" src="assets/img/profile_small.jpg" />
                       </span>
                  <a data-toggle="dropdown" class="dropdown-toggle" routerLink="/">
                      <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">محمد رباطی</strong>
                       </span> <span class="text-muted text-xs block">مدیریت <b class="caret"></b></span> </span> </a>
                  <ul class="dropdown-menu fadeInLeft m-t-xs">
                      <li><a href="profile.html">پروفایل</a></li>
                      <li><a href="contacts.html">مخاطبان</a></li>
                      <li><a href="mailbox.html">ایمیل</a></li>
                      <li class="divider"></li>
                      <li><a href="login.html">خروج</a></li>
                  </ul>
              </div>
              <div class="logo-element">
                  IN+
              </div>
          </li>
          <li routerLinkActive="active">
              <a routerLink="dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">داشبورد</span></a>
              <!-- <ul class="nav nav-second-level">
                  <li routerLinkActive="active"><a href="#">اکانت شماره 1</a></li>
                  <li routerLinkActive="active"><a href="#">اکانت شماره 2</a></li>
                  <li routerLinkActive="active"><a routerLink="/controlpanel/accounts">اکانت شماره 3</a></li>
                  <li routerLinkActive="active"><a routerLink="/controlpanel/dashboard">اکانت شماره 4</a></li>
                  <li routerLinkActive="active"><a routerLink="/">اکانت شماره 5<span class="label label-primary pull-right">جدید</span></a></li>
              </ul> -->
          </li>
          <li routerLinkActive="active">
              <a routerLink="/controlpanel/accounts"><i class="fa fa-diamond"></i> <span class="nav-label">مدیریت حساب ها</span></a>
          </li>
          <li routerLinkActive="active">
              <a href="#"><i class="fa fa-dollar"></i> <span class="nav-label">امور مالی</span><span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">
                  <li><a href="graph_flot.html">صورت حساب</a></li>
                  <li><a href="graph_morris.html">پرداخت الکترونیک</a></li>
              </ul>
          </li>
          <li routerLinkActive="active">
              <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">کارتابل</span><span class="label label-warning pull-right">16/24</span></a>
              <ul class="nav nav-second-level collapse">
                  <li><a href="mailbox.html">صندوق دریافتی</a></li>
                  <li><a href="mail_detail.html">صندوق ارسالی</a></li>
                  <li><a href="mail_compose.html">ارسال جدید</a></li>
              </ul>
          </li>
          <li routerLinkActive="active">
              <a routerLink="/controlpanel/insight"><i class="fa fa-pie-chart"></i> <span class="nav-label">آمار و آنالیزهای سامانه</span>  </a>
          </li>
          <li>
            <a href="metrics.html"><i class="fa fa-rescue"></i> <span class="nav-label">پشتیبانی</span>  </a>
          </li>
          <li>
              <a href="widgets.html"><i class="fa fa-flask"></i> <span class="nav-label">ابزار ها</span></a>
          </li>
          <li class="landing_link">
              <a target="_blank" href="landing.html"><i class="fa fa-star"></i> <span class="nav-label">صفحه اصلی وب</span></a>
          </li>
          <!-- <li class="special_link">
              <a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a>
          </li> -->
      </ul>

  </div>
</nav>
