<table class="wrapper" align="center" bgcolor="#EEEEEE" cellpadding="0" width="100%">
  <tr>
    <td>
      <table class="row" align="center" bgcolor="#FFFFFF" cellpadding="0">
        <tr valign="top" style="vertical-align: top;">
          <th class="column" width="640" style="color: #666666; border-top: 1px solid #EEEEEE; border-bottom: 1px solid #EEEEEE; width: 640px; padding: 30px; font-weight: 400;">
            <div>Pine Email Framework by ThemeMountain</div>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>
