{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
<h1>Welcome to the Riptide7 Email Builder</h1>
<h2>(formerly My Little Email Builder)</h2>
  <div class="first-col cols_12-6">
  <h3>Nothing to see here. Please <a href="{{ path('login') }}">login</a>. </h3></div>
</div>


{% endblock %}

