<header class="header">
  <div class="navigation">
    <a href="/" class="logo" title="{{ site.title }}"><h1>{{ site.title }}</h1></a>
    <h2 class="description">{{ site.description }}</h2>
    <ul class="menu">
      <li class="menu__entry"><a href="{{ '/' | prepend: site.baseurl }}">Emails</a></li>
      <li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
      <li class="menu__entry"><a href="{{ '/contribute' | prepend: site.baseurl }}">Contribute</a></li>
    </ul>
  </div>
  <ul class="social-links">
    {% if site.author.github %}
    <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
    {% endif %}
    <a href="{{ '/feed.xml' | prepend: site.baseurl }}" class="social-links__entry" title="Canned Emails RSS Feed">
      <i class="fa fa-rss-square"></i>
    </a>
  </ul>
</header>
