<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net452" />
  <package id="AutoMapper.Attributes" version="6.0.1" targetFramework="net452" />
  <package id="BouncyCastle" version="1.8.2" targetFramework="net452" />
  <package id="MailKit" version="2.0.6" targetFramework="net452" />
  <package id="MimeKit" version="2.0.6" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>